{% extends 'attendence_sys/main.html' %}

{% block title %} Achievements {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1 class="mt-5" style="margin-left: 100px;">Achievements</h1>




<div class="row mt-5" style="margin-left: 100px;">
    <div class="col-lg-5 mb-4">
        <div class="card">
            <h3>
                <div class="row pt-5 mb-3">
                    <div style="display:flex" class="col-lg-5 justify-content-center align-items-center">
                        <i class="far fa-star" style="font-size: 90px"></i>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h4">Best Board Worker Award</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </h3>
        </div>
    </div>
    <div class="col-lg-5 mb-4">
        <div class="card">
            <h3>
                <div class="row pt-5 mb-3">
                    <div style="display:flex" class="col-lg-5 justify-content-center align-items-center">
                        <i class="fas fa-shield-alt" style="font-size: 90px"></i>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h4">Best Board Worker Award</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </h3>
        </div>
    </div>
    <div class="col-lg-5 mb-4">
        <div class="card">
            <h3>
                <div class="row pt-5 mb-3">
                    <div style="display:flex" class="col-lg-5 justify-content-center align-items-center">
                        <i class="fas fa-medal" style="font-size: 90px"></i>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h4">Best Board Worker Award</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </h3>
        </div>
    </div>
    <div class="col-lg-5 mb-4">
        <div class="card">
            <h3>
                <div class="row pt-5 mb-3">
                    <div style="display:flex" class="col-lg-5 justify-content-center align-items-center">
                        <i class="fas fa-award" style="font-size: 90px"></i>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h4">Best Board Worker Award</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </h3>
        </div>
    </div>
    <div class="col-lg-5 mb-4">
        <div class="card">
            <h3>
                <div class="row pt-5 mb-3">
                    <div style="display:flex" class="col-lg-5 justify-content-center align-items-center">
                        <i class="fas fa-crown" style="font-size: 90px"></i>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h4">Best Board Worker Award</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </h3>
        </div>
    </div>
    <div class="col-lg-5 mb-4">
        <div class="card">
            <h3>
                <div class="row pt-5 mb-3">
                    <div style="display:flex" class="col-lg-5 justify-content-center align-items-center">
                        <i class="fas fa-trophy" style="font-size: 90px"></i>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h4">Best Board Worker Award</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </h3>
        </div>
    </div>
</div>


{% endblock content %}